@import "variables";

.question-page-container {
  width: 100vw;
  height: 100vh;

  .menu-question-page {

    display: flex;
    height: 3rem;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    color: $color-dark-block;
    border-bottom: 1px solid rgba(190, 190, 190, 0.733);
    @media (min-width: 800px) {
      height: 5rem;
      padding: 0 5rem;
    }

    .timer {
      color: $main-color;
      font-weight: 900;
      font-size: 2rem;
    }

    .btn-back-categories {
      cursor: pointer;
      background: $main-color;
      text-transform: uppercase;
      padding: 0.3rem 0.7rem;
      border-radius: 1rem;
      transition: $standart-transition;
      @media (min-width: 800px) {
        font-size: 2rem;
        padding: 0.5rem 1rem;
        border-radius: 2.5rem;
      }

      &:hover {
        color: $main-color;
        background: $btn-shadow-hover;
        transform: scale(1.01);
      }
    }

    .current-categories {
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      background: $main-color;
      font-size: 1rem;
      text-align: center;
      font-weight: 700;
      display: flex;
      align-items: center;
      justify-content: center;
      @media (min-width: 800px) {
        width: 4rem;
        height: 4rem;
        font-size: 2rem;
        
      }
    }

  }

  .main-question-page {
    width: 100%;
    height: 60vh;

    &.layer {
      visibility: hidden;
    }

    .header-question-page {
      background: $color-dark-block;
      height: 4rem;
      width: 100%;

      h2 {
        padding-top: 1rem;
        color: $main-color;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        text-transform: uppercase;
        font-size: 1rem;
        text-align: center;
        @media (min-width: 800px) {
          font-size: 1.5rem;
          font-weight: 600;
          
        }
      }

    }

    .img-question-author {
      height: 60%;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
      @media (min-width: 800px) {
        height: 100%;
      }
    }

    .question-items-pics {
      display: flex;
      flex-flow: row wrap;
      width: 70%;
      height: 70vh;
      justify-content: center;
      align-items: center;
      margin-top: 1rem;
      margin: 0 auto;

      .question-item {
        cursor: pointer;
        min-width: calc(45%);
        width: 50%;
        height: 50%;
        margin: 0.1rem auto;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
        transform: scale(0.9);
        transition: transform 0.4s ease;

        &:hover {
          transform: scale(1);
        }
      }
    }

    .question-slider {
      display: flex;
      justify-content: center;

      .slider-item {
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background: #b1b1b1;
        margin: 2rem 0.5rem 1rem;
      }

      .true {
        background: $true-answer;
      }

      .false {
        background: $false-answer;
      }
    }

    .question-items {
      display: flex;
      flex-wrap: wrap;
      box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
      @media (min-width: 800px) {
        font-size: 1.5rem;
        font-weight: 600;
        
      }

      .question-item {
        width: 50%;
        padding: 1rem 0.2rem;

        text-align: center;
        vertical-align: middle;
        cursor: pointer;
        transition: background 0.5s ease-in;
        box-shadow: $btn-shadow;

        &:hover {
          color: $main-color;
          background: #d4d4d4;
          transition: background 0.5s ease-in;
        }
      }

    }

  }

  .question-slider {
    display: flex;
    justify-content: center;

    .slider-item {
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background: #b1b1b1;
      margin: 2rem 0.5rem 1rem;
    }

    .true {
      background: #006635;
    }

    .false {
      background: #9b2727;
    }
  }

  .modal-window-container {
    position: absolute;
    left: -100%;
    top: 0;
    background: $background-modal-wrapper;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 0.3s ease;

    .modal-wrapper {
      box-shadow: $btn-shadow;
      color: $main-color;
      font-size: 0.8rem;
      text-transform: uppercase;

      width: 80%;
      height: 45%;
      background: $color-dark-block;
      z-index: 1000;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      border-radius: 1rem;

      @media (min-width: 800px) {
        height: 70%;
       width: 40%;
        font-size: 1.5rem;
      }

      .icon-answer {
        padding: 2rem;
        border-radius: 50%;
        margin-top: 1rem;
      }

      .img-correct-variant {
        max-width: 60%;
        margin: 1rem;
        overflow: hidden;
        @media (min-width: 800px) {
          width: 60%;
       
         }

        img {
          width: 100%;
        }

      }

      p {
        text-align: center;
      }

      .next-question-btn {
        margin: 1rem;
        cursor: pointer;
        color: $color-dark-block;
        background: $main-color;
        padding: 1rem 2rem;
        transition: $standart-transition;

        &:hover {
          color: $main-color;
          background: $btn-shadow-hover;
          transform: scale(1.01);
        }
      }
    }

    &.show-modal {
      left: 0%;
      opacity: 1;
    }

  }

  .restart-modal {
    position: absolute;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: $background-modal-wrapper;
    z-index: 1000;
    opacity: 0;
    transition: all 0.3s ease;

    .restart-wrapper {
      box-shadow: $btn-shadow;
      color: $main-color;
      font-size: 0.8rem;
      width: 70%;
      text-transform: uppercase;
      background: $color-dark-block;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 1rem;
      padding: 1rem;

      .result {
        font-size: 2rem;
        font-weight: 700;
      }

      .result-info {
        font-size: 1.5rem;
      }

      .result-images {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 5rem;
        padding: 1rem;

        .modal-result-img {
          width: 3rem;
          height: 3rem;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center center;
          transform: scale(0);
          transition: 1s;

          &.show-result {
            transform: scale(1);
          }

          &:nth-child(2) {
            margin-bottom: 1rem;
          }
        }
      }

      .restart-modal-btn,
      .back-modal-btn {
        margin: 0.5rem;
        cursor: pointer;
        color: $color-dark-block;
        background: $main-color;
        width: 50%;
        text-align: center;
        padding: 1rem;
        transition: $standart-transition;

        &:hover {
          color: $main-color;
          background: $btn-shadow-hover;
          transform: scale(1.01);
        }
      }
    }

    &.show-modal {
      opacity: 1;
      left: 0;
    }
  }


}