$main-color: #660033;
$bgc-btn: #e0b51f;
$bgc-btn-hover: #f0d470;
$btn-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
$btn-shadow-hover: rgba(102, 0, 51, 0.5);
$standart-transition: all 0.5s ease;
$color-dark-block: #fff;
$color-light-block: #000;
$background-modal-wrapper: #64646477;
$true-answer: #006635;
$false-answer: #9b2727;